<!DOCTYPE html>
<html>
{%load static %}

<head>
    <title>
        Add student
    </title>
    <script type="text/javascript" src="{%static 'JS/Add_Student_JS.js'%}"></script>
    <link rel="stylesheet" href="{%static 'css/Add_Student_style.css'%}">
</head>

<body>

    <br>
    <nav>
        <a href="{% url 'home'%}">Home</a>
        <a class="activee" href="{% url 'add'%}">Add Student</a>
        <a href="{% url 'edit'%}">Edit Student Data</a>
        <a href="{% url 'search'%}">Search</a>
        <a href="{% url 'view'%}">View Students</a>
        <a href="{% url 'department'%}">Department</a>
        <a href="{% url 'login'%}">Logout</a>


    </nav>
    <ul>


        <form name="myform" onsubmit="return validateForm()" method="POST">
            {% csrf_token %}
            <br><br>
            <h1>Add Student</h1>
            <img src="{%static 'images/user.png'%}" class="here_icon"><br>
            <!--Name-->

            <input type="text" name='StudentName' placeholder="Student Name" required><br><br>

            <!--Phone Number-->
            <input type="tel" name="Number" placeholder="Mobile Number" required><br><br>

            <!--Email-->
            <input type="text" name="Email" placeholder="Student Email" required><br><br>

            <!--ID-->
            <input type="number" name="ID" placeholder="Student ID" required><br><br>

            <!--GPA-->
            <input type="number" name="GPA" step="0.01" placeholder="GPA" required><br><br>

            <!--Birthday-->
            <label for="birthday">Birthday:</label>
            <input type="date" required name="birthday"><br><br>

            <!--Gender-->

            <label for="Gender">Gender: </label>
            <tab>
                <input type="radio"  name="gender" id="Female" value="Female">
                <label for="Female">Female</label>
                <tab2>

                    <input type="radio" name="gender" id="Male" value="Male">
                    <label for="Male">Male</label><br><br>

                    <!--statue-->
                    <label for="statue">Statue:</label>
                    <tab>
                        <input type="radio" required name="statue" id="Active" value="Active">
                        <label for="Active">Active</label>
                        <tab2>

                            <input type="radio" name="statue" id="Inactive" value="Inactive">
                            <label for="Inactive">Inactive</label>
                            <br><br>

                            <!--Level-->
                            <label for="level">Level:</label>
                            <tab>
                                <input type="radio" required name="level" id="1" value="1">
                                <label for="1">1</label>

                                <input type="radio" name="level" id="2" value="2">
                                <label for="2">2</label>

                                <input type="radio" name="level" id="3" value="3">
                                <label for="3">3</label>

                                <input type="radio" name="level" id="4" value="4">
                                <label for="4">4</label><br><br>

                                <!--department-->
                                <label for="department">Department:</label><br>

                                <input type="radio" required name="department" id="General" value="General">
                                <label for="General">General</label>

                                <input type="radio" name="department" id="CS" value="CS">
                                <label for="CS">CS</label>

                                <input type="radio" name="department" id="DS" value="DS">
                                <label for="DS">DS</label>

                                <input type="radio" name="department" id="AI" value="AI">
                                <label for="AI">AI</label>

                                <input type="radio" name="department" id="IS" value="IS">
                                <label for="IS">IS</label>

                                <input type="radio" name="department" id="IT" value="IT">
                                <label for="IT">IT</label><br><br>
                                <input type="submit" value="Add"><br><br>

        </form>
</body>

</html>