<!DOCTYPE html>
<html>
{%load static %}

<head>
    <title>
        Login
    </title>
    <link rel="stylesheet" href="{%static 'css/login_style.css'%}">
    <script type="text/javascript" src="{% static 'JS/login_JS.js' %}">
    </script>


</head>



<body>
    <div class="fci">
        <h1>FCAI-CU Students Affairs</h1>
    </div>
    <div class="login">
        <h1>Login</h1>
        <form method="POST" name="loginForm" onsubmit="">
            {% csrf_token %}
            <div class="data">
                <input type="text" id="user" name="user" required>

                <label>Username</label>
            </div>
            <div class="data">
                <input type="text" id="pass" name="passwordd" required>

                <label>Password</label>
            </div>

            <input type="submit" value="Login">

        </form>

    </div>
</body>


</html>