<!DOCTYPE html>
<html>
{%load static %}

<head>
    <title>
        search page
    </title>
    <link rel="stylesheet" href="{% static 'css/search_style.css' %}">
</head>

<body>

    <br>

    <nav>
        <a href="{% url 'home'%}">Home</a>
        <a href="{% url 'add'%}">Add Student</a>
        <a href="{% url 'edit'%}">Edit Student Data</a>
        <a class="activee" href="{% url 'search'%}">Search</a>
        <a href="{% url 'view'%}">View Students</a>
        <a href="{% url 'department'%}">Department</a>
        <a href="{% url 'login'%}">Logout</a>

    </nav>

    <br><br> <br><br>
    <strong id="space1" for="student status">Student Status :</strong>
    <select class="Active" id='activ' name="status">
            <option value="Active">Active</option>
            <option value="Inactive" select>Inactive</option>
            <option value="All">All</option>
        </select>
    <strong id="" for="student id">Student id :</strong>
    <input type="text" class="student_id">
    <input type="button" value="search" class="search">
    <table class="Content_Table">
        <tr>

            <th>Student Name</th>
            <th>ID</th>
            <th>Department</th>
            <tr/> {%for x in search %}
            <tr>
                <td><a href="{% url 'department' %}">{{x.name}}</a></td>
                <td>{{x.id}}</td>
                <td>{{x.department}}</td>
                <tr/> {% endfor %}
    </table>
    <script type="text/javascript" src="{%static 'JS/search_JS.js'%}"></script>
    <body/>

    <html/>