<!DOCTYPE html>
<html>
{%load static %}
<link rel="stylesheet" href="{%static 'css/view_student_style.css'%}">

<title>
    View Students

</title>

<body>
    <br>
    <nav>
        <a href="{% url 'home'%}">Home</a>
        <a href="{% url 'add'%}">Add Student</a>
        <a href="{% url 'edit'%}">Edit Student Data</a>
        <a href="{% url 'search'%}">Search</a>
        <a class="activee" href="{% url 'view'%}">View Students</a>
        <a href="{% url 'department'%}">Department</a>
        <a href="{% url 'login'%}">Logout</a>



    </nav>
    <br><br><br><br>


    <form action="" method="POST">
        {% csrf_token %}
        <strong for="student status">Student Status: </strong>
        <br>
        <select name="student status">
        <option value="All" name="All">All</option>
        <option value="Active" name="Active">Active</option>
        <option value="Inactive" name="Inactive">Inactive</option>
        
    </select>
        <input type="Submit" value="Save">


        <table class="Table">
            <tr>
                <th>Student Name</th>
                <th> Student ID</th>
                <th>Stauts</th>
                <th>Level</th>
                <th>GPA</th>
                <th>Department</th>
                <th>Student Email</th>
                <th>Phone Number</th>
                <th>Birthday</th>
                <th>Gender</th>
            </tr>
            {% for x in view %}
            <tr>
                <td>{{x.name}}</a>
                </td>
                <td>{{x.id}}</a>
                </td>
                <td>
                    <a href="{% url 'edit'%}" style="text-decoration: none; color: #fff;">{{x.state}}</a>
                </td>
                <td>{{x.level}}</a>
                </td>
                <td>{{x.gpa}}</a>
                </td>
                <td>{{x.department}}</td>
                <td>{{x.mail}}</a>
                </td>
                <td>{{x.phone}}</a>
                </td>
                <td>{{x.birthday}}</a>
                </td>
                <td>{{x.gender}}</a>
                </td>
            </tr>
            {%endfor%}
    </form>



</body>

</html>